<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="me.dacai.core.dao.mysql.entity.User" />
		<typeAlias alias="Category" type="me.dacai.core.dao.mysql.entity.Category" />
		<typeAlias alias="Tag" type="me.dacai.core.dao.mysql.entity.Tag" />
		<typeAlias alias="TagPost" type="me.dacai.core.dao.mysql.entity.TagPost" />
		<typeAlias alias="Image" type="me.dacai.core.dao.mysql.entity.Image" />
		<typeAlias alias="Post" type="me.dacai.core.dao.mysql.entity.Post" />
		<typeAlias alias="Comment" type="me.dacai.core.dao.mysql.entity.Comment" />
		<typeAlias alias="PostHits" type="me.dacai.core.dao.mysql.entity.PostHits" />
	</typeAliases>
	<mappers>
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/UserMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/CategoryMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/TagMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/TagPostMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/ImageMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/PostMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/CommentMapper.xml" />
		<mapper resource="me/dacai/core/dao/mysql/mapper/xmls/PostHitsMapper.xml" />
	</mappers>
</configuration>